{{!< default}}

<main id="container" role="main">
	{{> header}}

	<section class="post-list">
		{{#foreach posts}}
		<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}}">
			<header class="post-header">        		
    			<div class="post-meta">
        			<time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date published_at format="YYYY-MM-DD"}}</time>
        			{{#if tags}}
    				<span class="delimiter">&#8226;</span> 
		        	{{#tags}}
		            <span itemprop="keywords">{{name}}</span>{{#unless @last}}, {{/unless}}
		          	{{/tags}}			        
			      	{{/if}}			      	
        		</div>
        		<h2 itemprop="name" class="post-title">
    				<a href="{{url}}" itemprop="url">{{{title}}}</a>
    			</h2>
    		</header>
    		<section itemprop="description" class="post-excerpt">
    			{{content}}
    		</section>
		</article>
		{{/foreach}}

		{{pagination}}
	</section>

	{{> footer}}
</main>
