{{!< default}}

<main id="container" role="main">
	{{> header}}

	<section class="post-full">
		{{#post}}
		<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}}">
			<header class="post-header">        		
    			<div class="post-meta">
        			<time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date published_at format="YYYY-MM-DD"}}</time>
        			{{#if tags}}
    				<span class="delimiter">&#8226;</span> 
		        	{{#tags}}
		            <span itemprop="keywords">{{name}}</span>{{#unless @last}}, {{/unless}}
		          	{{/tags}}			        
			      	{{/if}}
        		</div>
        		<h2 itemprop="name headline" class="post-title">{{{title}}}</h2>
    		</header>
    		<section itemprop="articleBody" class="post-content">
    			{{content}}
    		</section>
    		<footer class="post-footer">
    			
    		</footer>
		</article>
		{{/post}}
		
		{{> comments}}	
	</section>

	{{> footer}}
</main>
