{{!< default}}

<main id="container" role="main">
	{{> header}}

	<section class="post-full">
		{{#post}}
		<article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="{{post_class}}">
			<header class="post-header">
    			<div class="post-meta">
    				<span class="post-tags">{{tags}}</span>
			      	
        			<time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date published_at format="YYYY-MM-DD"}}</time>
        		</div>
        		<h2 itemprop="name headline" class="post-title">{{{title}}}</h2>
    		</header>
    		<section itemprop="articleBody" class="post-content clearfix">
    			{{content}}
    		</section>
    		<footer class="post-footer">
    			
    		</footer>
		</article>
		{{/post}}
		
		{{> comments}}
	</section>

	{{> footer}}
</main>
